<nav class="navbar navbar-expand bg-light navbar-light">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Logo o título -->
    <a class="navbar-brand" href="#">MiSitio</a>

    <!-- Enlaces del navbar -->
    <ul class="navbar-nav d-flex flex-row">

      <li class="nav-item">
        <a class="nav-link px-3" routerLink="/lista">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
